#
# This is the config file, and
# a '#' or ';' character indicates
# a comment
#

[user]
	name = ndxbn
	email = wc348nka@gmail.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[init]
	templateDir = ~/.git_template
[alias]
	c = commit
	co = checkout
	br = branch
	sta = status
	last = log -1 HEAD
	sub = submodule
	subf = "submodule foreach"
[merge]
	ff = false
[push]
	default = simple
[pull]
	ff = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
