# This is the config file, and
# a '#' or ';' character indicates
# a comment
#

[user]
	name = ndxbn
	email = sitri.ndxbn@gmail.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[init]
	templateDir = ~/.git_template
[alias]
	a = add
	c = commit
	co = checkout
	sub = submodule
	logg = log --graph
	fe = fetch -apn
[merge]
	ff = false
[pull]
	ff = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
