# This is the config file, and
# a '#' or ';' character indicates
# a comment
#

[user]
	name = ndxbn
	email = sitri.ndxbn@gmail.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
	longpaths = true
	editor = vi
[init]
[alias]
	sub = submodule
	logg = log --graph
	logog = log --oneline --graph
	pullupstream = pull upstream master
	subpull = submodule foreach git pull origin master
	sw = switch
	cc = switch -c

[merge]
	ff = false
[pull]
	ff = true
[push]
	followTags = true
	default = simple

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/zz_origin/pr/*

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
