name: lint

on: [push]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install shellcheck
      run: sudo apt update && sudo apt install -y shellcheck
    - name: Run shellcheck
      run: .ci/shellcheck
    - name: Run ~/.config/.gitignore conflict check
      run: .ci/gitignore-dont-hung-on-dotconfig

