name: shellcheck

on: [push]

jobs:
  shellcheck:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: Install shellcheck
      run: sudo apt update && sudo apt install -y shellcheck
    - name: Run shellcheck
      run: |
        cd "$GITHUB_WORKSPACE" || exit 1
        find . -name \*.sh -exec shellcheck {} +
        find . -name \*.bash -exec shellcheck {} +
        find . -name \*.zsh -exec shellcheck {} +
        find . -name \*.bashrc -exec shellcheck {} +
        find . -name \*.bash_profile -exec shellcheck {} +
        find . -name \*.zshenv -exec shellcheck {} +
        find . -name \*.zprofile -exec shellcheck {} +
        find . -name \*.zshrc -exec shellcheck {} +
