name: integration test

on: [push]

jobs:
  stow:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: Install stow
      run: sudo apt install stow
    - name: make virtual home
      run:   mkdir -p "${GITHUB_WORKSPACE}/.home"
    - name: Run Install.sh
      run: |
        cp -v .github/stowrc .stowrc
        HOME="${GITHUB_WORKSPACE}/.home" ./INSTALL.sh

