name: integration test

on: [push]

jobs:
  stow:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v6
      with:
        path: dotfiles
    - name: Install stow
      run: sudo apt install stow
    - name: display envs
      run: |
        echo HOME is ${HOME}
        echo GITHUB_WORKSPACE is ${GITHUB_WORKSPACE}
        echo pwd is $(pwd)
    - name: Run Install.sh
      run: |
        HOME="${GITHUB_WORKSPACE}" ./INSTALL.sh
